@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes btnUp {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 1rem 3rem; }

@font-face {
  font-family: Tahu;
  src: url("../fonts/Tahu!.ttf"); }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #442517;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    text-align: center;
    animation: moveInRight 1s ease-out; }

.heading-tertiary {
  font-family: "Tahu";
  color: #442517;
  font-size: 6rem;
  font-weight: 400;
  line-height: 6rem; }

.heading-fourth {
  font-family: "Tahu";
  color: #442517;
  font-size: 4rem;
  font-weight: 400; }

.paragraph {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  color: #000;
  text-align: justify; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.about__box--circle {
  height: 5rem;
  width: 5rem;
  background-color: #94c01c;
  border-radius: 50%;
  padding: 4rem; }

.about__box--icon {
  height: 5rem;
  width: 5rem;
  background-size: cover;
  transform: translate(-50%, -50%);
  transition: all .4s; }

.about__box--img {
  height: 25rem;
  width: 100%;
  overflow: hidden; }

.about__box:hover #about-icon-1 {
  background-image: url(../img/icon_history_braz.png); }

.about__box:hover #about-icon-2 {
  background-image: url(../img/icon_leaf_braz.png); }

.about__box:hover #about-icon-3 {
  background-image: url(../img/icon_bottler_braz.png); }

.about__box:hover .about__box--back,
.about__box:focus .about__box--back {
  transform: scale(1.2); }

.about__box:hover .about__box--back:before,
.about__box:focus .about__box--back:before {
  display: block; }

.about__box:hover .btn--up {
  opacity: 1;
  transform: translate(-50%, -20%);
  color: #fff; }

.about__box--back {
  height: 100%;
  width: 100%;
  transition: all .35s;
  background-size: cover; }
  .about__box--back:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.25); }

#about-icon-1 {
  background-image: url(../img/icon_history_white.png); }

#about-img-1 {
  background-image: url(../img/box_1.jpg); }

#about-icon-2 {
  background-image: url(../img/icon_leaf_white.png); }

#about-img-2 {
  background-image: url(../img/box_2.jpg); }

#about-icon-3 {
  background-image: url(../img/icon_bottler_white.png); }

#about-img-3 {
  background-image: url(../img/box_3.jpg); }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  transition: all .2s;
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  cursor: pointer;
  border: none;
  color: #fff;
  background-color: #94c01c;
  border-radius: 0; }

.btn--green {
  background-color: #94c01c;
  color: #fff; }

.btn--up {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  opacity: 0; }

.shop {
  height: 100rem;
  background-image: url(../img/texture.jpg);
  background-size: cover; }
  .shop--syrups {
    height: 50rem;
    background-image: url(../img/syrups.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: #442517;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.15);
  border: solid 3px #94c01c;
  width: 90%;
  display: block;
  transition: all .3s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #442517; }
  .form__input::-webkit-input-placeholder {
    color: #999; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #2e1b12; }

.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #442517; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: .7rem;
  text-transform: uppercase;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form-img {
  height: 60rem;
  background-image: url(../img/caramel_drops.jpg);
  background-size: cover;
  background-position: left; }

.form textarea {
  resize: none; }

/*test*/
.nav-img {
  height: 60px; }

.navbar-nav .nav-link {
  font-size: 1.6rem;
  color: #442517;
  text-transform: uppercase;
  padding: 1rem 2rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  transition: all .3s; }

.navbar-nav .nav-link:hover {
  color: #fff;
  background-color: #94c01c; }

.navbar-nav .icon-flag {
  height: 2.5rem;
  width: 2.5rem; }

.header__slider--slide {
  height: 60vh;
  background-size: cover;
  background-position: center;
  overflow: hidden; }

#slide-1 {
  background-image: url(../img/coconut_slajder.jpg); }

#slide-2 {
  background-image: url(../img/rose_slajder.jpg); }

#slide-3 {
  background-image: url(../img/vanilla_slajder.jpg); }

/* slider dots */
.slick-dots {
  bottom: 1rem; }

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #442517; }

.section-features {
  margin-top: -5rem; }

.section-shop {
  padding: 0 0 10rem 0;
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../img/texture.jpg);
  background-size: cover;
  margin-bottom: -20rem; }

.section-form {
  padding: 10rem;
  background-color: #fff;
  background-image: url(../img/caramel_drops_2.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.section-stories {
  position: relative;
  padding: 15rem 0; }
