// colors
$color-primary: #442517;
$color-secondary: #94c01c;

$color-white: #fff;
$color-black: #000;

$color-gray-dark-1: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;
$color-secondary-dark: #2e1b12;

// font
$default-font-size: 1.6rem;
$font-header: 'Tahu';
$font-lato-bold: 'Lato', sans-serif;