.about__box {

    &--circle {
        height: 5rem;
        width: 5rem;
        background-color: $color-secondary;
        border-radius: 50%;
        padding: 4rem;
    }

    &--icon {
        height: 5rem;
        width: 5rem;
        background-size: cover;
        transform: translate(-50%, -50%);
        transition: all .4s;
    }

    &--img {
        height: 25rem;
        width: 100%;
        overflow: hidden;
    }

    &:hover #about-icon-1 {
        background-image: url(../img/icon_history_braz.png);
    }
    
    &:hover #about-icon-2 {
        background-image: url(../img/icon_leaf_braz.png);
    }
    
    &:hover #about-icon-3 {
        background-image: url(../img/icon_bottler_braz.png);
    }

    &:hover &--back,
    &:focus &--back {
        transform: scale(1.2);
    }

    &:hover &--back:before,
    &:focus &--back:before {
        display: block;
    }

    &:hover .btn--up {
        opacity: 1;
        transform: translate(-50%, -20%);
        color: $color-white;
    }

    &--back {
        height: 100%;
        width: 100%;
        transition: all .35s;
        background-size: cover;

        &:before {
            content: "";
            display: none;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(255, 255, 255, 0.25);
        }
    }
}

#about-icon-1 {
    background-image: url(../img/icon_history_white.png);
}

#about-img-1 {
    background-image: url(../img/box_1.jpg);
}

#about-icon-2 {
    background-image: url(../img/icon_leaf_white.png);
}

#about-img-2 {
    background-image: url(../img/box_2.jpg);
}

#about-icon-3 {
    background-image: url(../img/icon_bottler_white.png);
}

#about-img-3 {
    background-image: url(../img/box_3.jpg);
}
