.about__box--icon {
    height: 5rem;
    width: 5rem;
    background-color: $color-secondary;
    border-radius: 50%;
    padding: 4rem;
}

#about__box--icon--1 {
    background-image: url(../img/icon_history_white.png);
}